@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: 'Playwrite IN', cursive;
}

body {
  font-family: 'Playwrite IN', cursive;
}
.rubik-font {
  font-family: "Rubik", serif;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2); /* Latar belakang transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  border-radius: 15px; /* Sudut melengkung */
  border: 1px solid rgba(255, 255, 255, 0.3); /* Border transparan */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan halus */
  /* padding: 20px; Ruang dalam */
  /* color: white; Warna teks */
}

.glassmorphism-button {
  background: rgba(255, 255, 255, 0.2); /* Latar belakang transparan */
  backdrop-filter: blur(10px); /* Efek blur */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Bayangan halus */
}